<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135270090955-7ngn2nltebc5i66q600j7poabunl4fpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135270090955-7ngn2nltebc5i66q600j7poabunl4fpv</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ0nkrgCf2E1rHNVlBeZoy15h4u6lPl_8</string>
	<key>GCM_SENDER_ID</key>
	<string>135270090955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mykoo.apps.Rockaway-Beach-App</string>
	<key>PROJECT_ID</key>
	<string>rockawaybeachapp</string>
	<key>STORAGE_BUCKET</key>
	<string>rockawaybeachapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135270090955:ios:ad2dd87aae6f7668abf34e</string>
</dict>
</plist>